<!doctype html>
<html>
  <head>
    <title>About <%=shopData.shopName%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1 class="mb-4">About <%=shopData.shopName%></h1> 
      <p>We sell all sorts of books and nothing else!</p>
    </div>
    </body>
</html>