<!doctype html>
<html>
  <head>
    <title>Add Book Page for <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Add Book to <%=shopData.shopName%></h1>
    <form method="POST" action="/books/bookadded">
        <p>Book name: <input id="book_name" type="text" name="name" /></p>
        <p>Price: <input id="price" type="text" name="price" /></p>
        <input type="submit" value="Add Book" />
      </form>
  </body>
</html>