<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Bargain Books at <%=shopData.shopName%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="mb-4"><%=shopData.shopName%></h1>
        <h2>Here are the bargain books (under £20) that we sell</h2>
        <ul>
            <%# Loop through books under 20 in database %>
            <% availableBooks.forEach((book) => { %>
                <li><strong><%= book.name %></strong>, £<%= book.price %></li>
            <% }); %>
        </ul>
    </div>
</body>
</html>