<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results for <%=shopData.shopName%></title>
</head>
<body>
    <h1><%=shopData.shopName%></h1>
    <h2>Here are your search results</h2>
    <% if (searchResults.length === 0) { %>
        <p>No books found matching your search.</p>
    <% } else { %>
        <ul>
            <% searchResults.forEach((result) => { %>
                <li><strong><%= result.name %></strong>, £<%= result.price %></li>
            <% }); %>
        </ul>
    <% } %>
</body>
</html>